.feedbackButton{
   width:170px;
   height:47px; 
   color: #34C94B;
   background-color: #121212;
   /* padding:10px 16px;   */
   border-radius: 12px; 
   border:none;
   outline: none;
   cursor: pointer;
   font-family: Poppins;
   font-weight: 600;
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 0.25px;
   text-align: center;

}