@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --primary-color:#34C94B;
    --black-color:#121212;
    --white-color:#FFFFFF;
}

body{
    margin:0;
    padding:0;
    background-color:var(--black-color);
    font-family: "Poppins", sans-serif;
}


.hrline{
   border: 2px solid var(--primary-color);
   margin: 30px 0px;
}

.slick-prev{
    left: -50px !important;
}
  
.slick-prev:before, .slick-next:before{
    color: var(--primary-color) !important;
    font-size: 2rem !important;
    opacity: 1;
}

.css-1aquho2-MuiTabs-indicator{
    background-color: var(--primary-color);
}

.css-1pzu0y2{
    margin-left:31px !important;
}